<span ng-if="csar.availablePromotionTargets.length > 0" uib-dropdown>
  <a class="btn btn-default btn-xs" uib-dropdown-toggle ng-click="$event.stopPropagation()">
    <display-workspace workspace-id="{{csar.workspace}}"></display-workspace>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
    <li ng-repeat="workspace in csar.availablePromotionTargets"
        class="option-selected">
      <a ng-click="calculateImpact(csar, workspace); $event.stopPropagation();">
        <display-workspace workspace-id="{{workspace.id}}"></display-workspace>
      </a>
    </li>
  </ul>
</span>
<display-workspace ng-if="csar.availablePromotionTargets.length == 0"
                   workspace-id="{{csar.workspace}}"></display-workspace>
