<div>
  <div id="upload-csar" class="row" ng-if="writeWorkspaces.length > 0">
    <div class="col-md-3">
      <div class="well">
        <div>{{'WORKSPACES.UPLOAD' | translate}}</div>
        <div ng-if="writeWorkspaces.length > 1" uib-dropdown>
          <button type="button" class="btn btn-default" uib-dropdown-toggle>
            <display-workspace workspace-id="{{selectedWorkspaceForUpload.id}}"></display-workspace>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" style="z-index: 2000;">
            <li ng-repeat="workspace in writeWorkspaces"
                ng-if="workspace !== selectedWorkspaceForUpload"
                class="option-selected"
                style="z-index: 2000;">
              <a ng-click="selectWorkspaceForUpload(workspace)">
                <display-workspace workspace-id="{{workspace.id}}"></display-workspace>
              </a>
            </li>
          </ul>
        </div>
        <display-workspace  ng-if="writeWorkspaces.length == 1" workspace-id="{{selectedWorkspaceForUpload.id}}"></display-workspace>
      </div>
    </div>
    <div class="col-md-9">
      <upload-directive
          target-url="'rest/latest/csars'"
          request-data="selectedWorkspaceForUploadData"
          drag-and-drop-message="'COMPONENTS.DRAG_DROP_UPLOAD'"
          button-message="'COMPONENTS.UPLOAD'"
          upload-success-callback="uploadSuccessCallback(data)">
      </upload-directive>
    </div>
  </div>

  <div class="row">
    <alien-search-node-type
        refresh="refresh"
        display-detail-pannel="true"
        on-select-item="openComponent(item)"
        global-context="true"
        height-info="heightInfo"
        width-info="widthInfo"
        default-filters="defaultFilters"
        static-facets="staticFacets"
        badges="badges"/>
  </div>
</div>
