<div class="row" style="margin-top: 10px;">
  <div class="col-md-3">
    <facet-search-panel search-url="rest/latest/workspaces/csars/search"
                        page-size="10"
                        max-page-count="10"
                        filter-prefix="COMPONENTS.CSAR."
                        on-search="onSearch(searchConfig)">
    </facet-search-panel>
  </div>
  <div class="col-md-9">

    <table class="table table-hover">
      <thead>
      <tr>
        <th></th>
        <th>{{ 'COMMON.NAME' | translate}}</th>
        <th>{{ 'COMMON.VERSION' | translate}}</th>
        <th>{{ 'COMMON.AUTHOR' | translate}}</th>
        <th>{{ 'UPDATE_DATE' | translate}}</th>
        <th>{{ 'WORKSPACES.TITLE' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="csarDTO in searchConfig.result.data" name="csar_{{csarDTO.csar.id}}">
        <td>
          <i class="pull-left media-object fa fa-archive"></i>
        </td>
        <td>{{csarDTO.csar.name}}</td>
        <td>{{csarDTO.csar.version}}</td>
        <td>{{csarDTO.csar.templateAuthor}}</td>
        <td>{{(csarDTO.csar.importDate | date:'medium') || '---' }}</td>
        <td>
          <div ng-if="csarDTO.availablePromotionTargets.length > 0" uib-dropdown>
            <button type="button" class="btn btn-default" uib-dropdown-toggle>
              <display-workspace workspace-id="{{csarDTO.csar.workspace}}"></display-workspace>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
              <li ng-repeat="workspace in csarDTO.availablePromotionTargets"
                  class="option-selected">
                <a ng-click="calculateImpact(csarDTO.csar, workspace)">
                  <display-workspace workspace-id="{{workspace.id}}"></display-workspace>
                </a>
              </li>
            </ul>
          </div>
          <display-workspace ng-if="csarDTO.availablePromotionTargets.length == 0"
                             workspace-id="{{csarDTO.csar.workspace}}"></display-workspace>
        </td>
      </tr>
      </tbody>
    </table>

    <empty-place-holder
        for="'COMPONENTS.CSAR.TITLE'"
        data="searchConfig.result.data">
    </empty-place-holder>

    <pagination-directive pagination-info="searchConfig.service.pagination"/>
  </div>
</div>
