<div>
  <div class="modal-header">
    <h4 ng-if="impact.hasWriteAccessOnTarget">{{ 'WORKSPACES.PROMOTION.MOVE.TITLE' | translate}}</h4>
    <h4 ng-if="!impact.hasWriteAccessOnTarget">{{ 'WORKSPACES.PROMOTION.REQUEST.TITLE' | translate}}</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <h4>{{ 'WORKSPACES.PROMOTION.IMPACT.TITLE' | translate}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <accordion close-others="oneAtATime">
          <accordion-group ng-repeat="(csarId, csar) in impact.impactedCsars">
            <accordion-heading>
              <span>{{csar.name}} {{csar.version}}</span>
              <i class="pull-right fa" ng-class="{'fa-caret-down': status.open, 'fa-caret-right': !status.open}"></i>
            </accordion-heading>
            <span ng-if="impact.currentUsages[csarId].length == 0">{{ 'WORKSPACES.PROMOTION.IMPACT.NOT_USED' | translate }}</span>
            <table ng-if="impact.currentUsages[csarId].length > 0" class="table table-hover">
              <thead>
              <tr>
                <th>{{ 'WORKSPACES.PROMOTION.IMPACT.RESOURCE_NAME' | translate }}</th>
                <th>{{ 'WORKSPACES.PROMOTION.IMPACT.RESOURCE_TYPE' | translate }}</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="usage in impact.currentUsages[csarId]">
                <td>
                  {{usage.resourceName}}
                </td>
                <td>
                  {{usage.resourceType}}
                </td>
              </tr>
              </tbody>
            </table>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="btn btn-primary" ng-click="ok()">
      {{'OK' | translate}}
    </a>
    <a class="btn btn-default" ng-click="cancel()">
      {{'CLOSE' | translate}}
    </a>
  </div>
</div>