<div>
  <div id="upload-csar-topology" class="row" ng-if="writeWorkspaces.length > 0">
    <div class="col-md-3">
      <div class="well">
        <div>{{'WORKSPACES.UPLOAD' | translate}}</div>
        <div uib-dropdown>
          <button type="button" class="btn btn-default" uib-dropdown-toggle>
            <display-workspace workspace-id="{{selectedWorkspaceForUpload.id}}"></display-workspace>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" style="z-index: 2000;">
            <li ng-repeat="workspace in writeWorkspaces"
                ng-if="workspace !== selectedWorkspaceForUpload"
                class="option-selected"
                style="z-index: 2000;">
              <a ng-click="selectWorkspaceForUpload(workspace)">
                <display-workspace workspace-id="{{workspace.id}}"></display-workspace>
              </a>
            </li>
          </ul>&nbsp;
          <button class="btn btn-success" ng-click="openNewTopologyTemplate()" id="btn-add-template">
            <i class="fa fa fa-plus-circle"></i> {{ 'TEMPLATE.NEW' | translate}}
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <upload-directive
          target-url="'rest/latest/csars'"
          request-data="selectedWorkspaceForUploadData"
          drag-and-drop-message="'COMPONENTS.DRAG_DROP_UPLOAD'"
          button-message="'COMPONENTS.UPLOAD'"
          upload-success-callback="searchConfig.service.search()">
      </upload-directive>
    </div>
  </div>

  <topology-template-search
    on-select="onSelect(topology)"
    on-select-for-clone="openNewTopologyTemplate(topology)"
    on-search-config="onSearchConfigChanged(searchConfig)"
    default-filters="defaultFilters"
    static-facets="staticFacets"
    archive-link="true" />
</div>
