<fieldset>
  <legend>
    <h4>{{'WORKSPACES.TITLE' | translate}}</h4>
  </legend>

  <uib-tabset>
    <uib-tab id="tab-workspace-csar" select="selectWorkspaceTab()">
      <uib-tab-heading>
        <i class="fa fa-archive"></i> {{'COMPONENTS.CSAR.TITLE' | translate}}
      </uib-tab-heading>
      <div ng-if="workspaceActive">
        <csar-workspace></csar-workspace>
      </div>
    </uib-tab>
    <uib-tab id="tab-workspace-promotion" select="selectPromotionTab()">
      <uib-tab-heading>
        <i class="fa fa-forward"></i> {{'WORKSPACES.PROMOTION.TITLE' | translate}}
      </uib-tab-heading>
      <div ng-if="promotionActive">
        <csar-promotion></csar-promotion>
      </div>
    </uib-tab>
  </uib-tabset>
</fieldset>
