<fieldset>
  <legend>
    <h4>{{'WORKSPACES.TITLE' | translate}}</h4>
  </legend>

  <tabset>
    <tab id="tab-workspace-csar" select="selectWorkspaceTab()">
      <tab-heading>
        <i class="fa fa-archive"></i> {{'COMPONENTS.CSAR.TITLE' | translate}}
      </tab-heading>
      <div ng-if="workspaceActive">
        <csar-workspace></csar-workspace>
      </div>
    </tab>
    <tab id="tab-workspace-promotion" select="selectPromotionTab()">
      <tab-heading>
        <i class="fa fa-forward"></i> {{'WORKSPACES.PROMOTION.TITLE' | translate}}
      </tab-heading>
      <div ng-if="promotionActive">
        <csar-promotion></csar-promotion>
      </div>
    </tab>
  </tabset>
</fieldset>
