<fieldset>
  <legend>
    <h4>{{'WORKSPACES.TITLE' | translate}}</h4>
  </legend>

  <tabset>
    <tab id="tab-workspace-csar">
      <tab-heading>
        <i class="fa fa-archive"></i> {{'WORKSPACES.CSAR.TITLE' | translate}}
      </tab-heading>
      <div>
        <csar-workspace></csar-workspace>
      </div>
    </tab>
    <tab id="tab-workspace-promotion">
      <tab-heading>
        <i class="fa fa-forward"></i> {{'WORKSPACES.PROMOTION.TITLE' | translate}}
      </tab-heading>
      <div>
        // TODO list / accept / refuse promotions
      </div>
    </tab>
  </tabset>
</fieldset>
